@media (min-width:1530px){
   .oms-container{
     width: 1510px;
   }
 }

@media (min-width:1680px){
   .oms-container{
     width: 1655px;
   }
 }

@media (min-width:1920px){
   .oms-container{
     width: 1900px;
   }
 }
body{
    padding-top: 60px;
}
.oms-navbar{
    border-bottom: 1px solid white;
}

.oms-logo{
    display: inline-block;
}

.oms-brand{
    vertical-align: middle;
    font-size: 29px;
}

.oms-navbar-nav >li >a:HOVER{
    background-color: transparent;
}

#oms-menu > li.list-group-item{
    padding: 0;
}

#oms-menu > li:first-child >a{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#oms-menu>li>a{
    outline: none;
    display: block;
    padding: 10px 15px;
    background: white;
    text-decoration: none;
}

#oms-menu>li>ul{
    border-top: 1px solid #ddd;
    padding-left: 0;
}

#oms-menu>li>ul>li{
    height: 40px;
    padding-left: 40px;
    line-height: 40px;
}

.page-header {
    margin-top: 0px;
}